@import 'settings.colors';
@import 'settings.fonts';

:host{
    position: relative;
    perspective: 300px;
    cursor: pointer;
    &.movie-poster--active{
            position: relative;
            z-index: 2;
            transition: 0.5s all;
            transform: scale(1.20)!important;

        .movie-poster{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            transition: 0.35s all;
            transition-timing-function: cubic-bezier(0.25, 0.1, 01, 1);
            transform: rotateY(180deg)!important;
            transform-style: preserve-3d;
            &--back{
                transform: rotateY( 180deg );
            }

        }
    }
}
.movie-poster{
    transition: 0.15s transform;
    border-radius: 3px;
    display: block;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    &-overview{
        flex: 1;
    }
    &-stats{
        font-family: HelveticaNeue;
        font-size: 1.3rem;
        /deep/ svg {
            width: 15.5px;
            height: 15.5px;
            fill: $mainColor;
        }
    }
    &__content{
        height: calc(100% - 15px);
        margin-top: 15px;
        line-height: 18px;
        font-size: 1.3rem;
        transform: scale(1);
    }
    &__rotator{
        transform-style: preserve-3d;
        position: relative;
    }
    &__close-button{
        position: absolute;
        top: 15px;
        right: 15px;
        /deep/ svg{
            fill: #333;
            width: 15px;
            height: 15px;
        }
    }
    &__photo{
        width: 100%;
        vertical-align: middle;
    }
    &--front{
        z-index: 2;
    }
    &--front,
    &--back{
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        position: relative;
    }
    &--back{
        padding: 15px;
        top: 0;
        background: #fff;
        position: absolute;
    }
}
