<header class="header row">
  <div class="col-xs-3 row row--no-margin center-xs middle-xs">
    <mm-icon class="logo" name="clapper"></mm-icon>
  </div>
  <mm-search class="col-xs-6"></mm-search>
  <nav class="col-xs-3 header__navigation row row--no-margin center-xs">
    <a class="header__navigation-item header__navigation-item--active" href="#">
      <mm-icon name="movie_reel"></mm-icon>
    </a>
    <a class="header__navigation-item" href="#">
      <mm-icon name="vote"></mm-icon>
    </a>
    <a class="header__navigation-item" href="#">
      <mm-icon name="popularity"></mm-icon>
    </a>
  </nav>
</header>
