@import 'settings.colors';
.header{
    // background-color: $mainColor;
    display: flex;
    align-items: center;
    height: 95px;
    box-shadow: 0 2px 5px -1px rgba(50, 50, 50, 0.35);
    position: relative;
    z-index: 1;
    .logo{
        /deep/ svg{
            width: 50px;
            height: 50px;
            fill: $mainColor;
        }
    }
    &__navigation{
        &-item{
                border-bottom: 0 transparent;
                margin-right: 35px;
            /deep/ svg{
                width: 30px;
                height: 30px;
                fill: $mainColor;
            }
            &:hover,
            &--active{
                transform: scale(1.2);
                transition: 0.25s all;
                border-bottom: 1px solid $mainColor;
                padding-bottom: 5px;
            }
        }
    }
}
