<section class="container-fluid column app-container">
  <mm-header [isCollecting]="isCollectingMovies$|async" [collectables]="collectedMovies$|async" (collectablesSelectionComplete)="showCreateListForm($event)">
  </mm-header>
  <main class="center-xs row">
    <router-outlet></router-outlet>
  </main>
  <mm-add-to-list-form class="col-xs-12"  *ngIf="isCreateListFormShown" [movies]="collectedMovies$|async" (formClosed)="closeCreateListForm()" (formSubmitted)="addMoviesToList($event)">
  </mm-add-to-list-form>
</section>