<article class="details">
    
        <mm-icon class="details__close-button" name="close" (click)="closeSelf()"></mm-icon>
        <div class="details__navigation">
    
            <a class="details__navigation-item" (click)="getAdditionalMovies('similar')">Similar</a>
            <a class="details__navigation-item" (click)="getAdditionalMovies('recommended')">Recommended</a>
        </div>
    
        <div class="pos-relative details__content">
            <div class="details__title">{{(movie$|async)?.title}}</div>
            <div class="details__cover" #movieCover></div>
            <img class="details__image large" (extractColors)="morphBackground($event)" crossOrigin="Anonymous" mmColorExtractor [src]="(movie$|async)?.posterPath">
            <div class="details__description">{{(movie$|async)?.overview}}</div>
        </div>
    
        <section class="details__additional-movies" [@slideRightAnimation]="additionalMovies?.length" *ngIf="additionalMovies$|async as additionalMovies" >
            <div class="details__additional-movie" *ngFor="let movie of additionalMovies">
                <mm-movie-poster [movie]="movie" (selectMovie)="additionalMovieSelected($event)"></mm-movie-poster>
                <h3 class="details__additional-movie-title"> {{movie.title}} </h3>
            </div>
    
        </section>
    
    </article>
    <mm-spinner class="big" *ngIf="loading"></mm-spinner>
    